*.o
*.obj
*.a
*.so
*.dylib
*.dSYM
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.bbl
*.blg
*.manifest
*~
TAGS
Makefile
autom4te.cache/
config.h
config.h.in
config.status
configure
table.tex
table.html
table.pdf
